.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #3f51b5!important;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #3f51b5!important;
}

@media only screen and (min-width: 992px) {
  .card {
    border-radius: .3em;
    height: 300px;
    min-width: 300px;
  }
}

@media only screen and (max-width: 992px) {
  .card {
    border-radius: .3em;
    height: 210px;
    min-width: 200px;
  }
}

.card-img-top {
  width: 48px;
  height: 48px;
}