{% extends "subTemplate/commun.twig" %} 

{% block title %}
  Search
{% endblock %} 

{% block content %}
<form class="form-inline d-flex justify-content-center">
  <div class="form-group">
    <label for="research" class="bmd-label-floating">Research</label>
    <input type="text" class="form-control" id="research">
  </div>
  <span class="form-group bmd-form-group">
    <button type="button" class="btn bmd-btn-fab bmd-btn-fab-sm">
      <i class="material-icons mx-auto d-block">search</i>
    </button>
  </span>
</form>
<div class="list-group w-25 mx-auto">
  {% for item in items %}
    <a href="#" class="list-group-item list-group-item-action my-1 bg-light rounded">
      <div>{{item.getName}}</div>
      <span class="badge ml-auto badge-pill">{{item.getPrice}}</span>
    </a>
  {% endfor %}
</div>
{% endblock %} 
