<nav>
  <ul class="nav nav-tabs fixed-top bg-primary">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/">Search</a>
    </li>
  </ul>
  <ul class="nav nav-tabs bg-primary">
    <li class="nav-item">
      <a class="nav-link">.</a>
    </li>
  </ul>
</nav>