<div class="card" style="height:400px;width:300px;margin:20px">
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <img class="card-img-top" src="{{item.getIcon}}" alt="{{item.getName}}" style="width:32px;height:32px;margin:50px">
    </div>
  </div>
  <div class="card-body">
    <h5 class="card-title d-flex justify-content-center">{{item.getName}}</h5>
    <p class="card-text d-flex justify-content-center">{{item.getDescription}}</p>
  </div>
</div>