<!DOCTYPE html>
<html>
<head>
  {% block head %}{% endblock %}
  <title>{% block title %}Default{% endblock %}</title>
</head>
<body>
  <div id="content">
    {% block content %}Default{% endblock %}
  </div>
</body>
</html>