<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  {% block head %}{% endblock %}
  <title>
    {% block title %}_title_{% endblock %}
  </title>
</head>
<body>
  <div id="content">
    {% block content %}_content_{% endblock %}
  </div>
</body>
</html>