<nav>
  <ul class="nav nav-tabs fixed-top bg-primary">
    <li class="nav-item">
      <a class="nav-link" href="/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/search">Search</a>
    </li>
    {% if isConnected %}
      <li class="nav-item">
        <a class="nav-link" href="/profile">Profile</a>
      </li>
    {% endif %}
    <div class="mx-auto"></div>
    {% if isConnected == false %}
      <a class="nav-link" data-toggle="modal" data-target="#signInModal">
        <img class="material-icons mx-auto d-block" src="asset/signin.svg" style="width:21px;height:21px" />
      </a>
      <a class="nav-link" data-toggle="modal" data-target="#signUpModal">
        <img class="material-icons mx-auto d-block" src="asset/signup.svg" style="width:21px;height:21px" />
      </a>
    {% else %}
      <a class="nav-link" href="/sign-out">
        <img class="material-icons mx-auto d-block" src="asset/signout.svg" style="width:21px;height:21px" />
      </a>
    {% endif %}
    <li class="nav-item">
      <a class="nav-link" target="_blank" href="https://github.com/PamplemousseMR?tab=repositories">
        <img class="material-icons mx-auto d-block" src="asset/github.svg" style="width:21px;height:21px" />
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" target="_blank" href="https://www.linkedin.com/in/romain-manciaux-21989810a/">
        <img class="material-icons mx-auto d-block" src="asset/linkedin.svg" style="width:21px;height:21px" />
      </a>
    </li>
  </ul>
  <ul class="nav nav-tabs bg-primary">
    <li class="nav-item">
      <a class="nav-link">.</a>
    </li>
  </ul>
</nav>
{% if isConnected == false %}
  <div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title mx-auto">Sign in</h5>
        </div>
        <div class="modal-body">
          <form action="/sign-in" method="post">
            <div class="form-group">
              <label for="mail">Mail</label>
              <input type="email" class="form-control" name="mail" placeholder="Mail">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Connection</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>    
  <div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title mx-auto">Sign up</h5>
        </div>
        <div class="modal-body">
          <form action="/sign-up" method="post">
            <div class="form-group">
              <label for="mail">Mail</label>
              <input type="text" class="form-control" name="mail" placeholder="Mail"  onfocus="resetMail()" onblur="verifyMailForm()">
              <span id="erreurmail"></span>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label for="lastname">Email</label>
                  <input type="text" class="form-control" name="lastname" placeholder="Lastname">
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="firstname">Email</label>
                  <input type="text" class="form-control" name="firstname" placeholder="Firstname">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" name="password" placeholder="Password">
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="passwordConfirm">Password</label>
                  <input type="password" class="form-control" name="passwordConfirm" placeholder="Confirm password">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Create account</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>    
{% endif %}