<nav>
  <ul class="nav nav-tabs fixed-top bg-primary">
    <li class="nav-item">
      <a class="nav-link" href="/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/search">Search</a>
    </li>
    <div style="flex: 1 1 auto">
    </div>
    <li class="nav-item">
      <a class="nav-link" target="_blank" href="https://github.com/PamplemousseMR?tab=repositories">
        <img class="material-icons mx-auto d-block" src="asset/github.svg" style="width:21px;height:21px" />
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" target="_blank" href="https://www.linkedin.com/in/romain-manciaux-21989810a/">
        <img class="material-icons mx-auto d-block" src="asset/linkedin.svg" style="width:21px;height:21px" />
      </a>
    </li>
  </ul>
  <ul class="nav nav-tabs bg-primary">
    <li class="nav-item">
      <a class="nav-link">.</a>
    </li>
  </ul>
</nav>